@charset "UTF-8";

header {
    width: 1000px;
    margin: 0;
    background-color: #ffcccc;
}

/* チャプター：メインとメニュー（2カラムレイアウト） */
#wrapper {
    width: 1000px;
    justify-content: space-between;
    display: flex;
}

#main {
    width: 700px;
    background-color: #ccffcc;
}

#menu {
    width: 300px;
    background-color: #ccccff;
}

footer {
    width: 1000px;
    background-color: #ffccff;
}